@import "bootstrap";

body {
  font-family: "Raleway";
}

.container-fluid {
  padding: 0;
}

header {
  margin-top: -20px;
  text-align: center;
  color: #fff;
  background-attachment: local;
  background-image: url("http://thumb101.shutterstock.com/display_pic_with_logo/479563/479563,1290618621,3/stock-photo-group-of-happy-young-people-dancing-at-the-beach-on-beautiful-summer-sunset-collage-65835523.jpg");
  background-position: center top;
  background-repeat: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

  .intro-text {
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 150px;
    padding-bottom: 150px;
    .intro-lead-in {
      margin-bottom: 25px;
      font-size: 22px;
      line-height: 22px;
    }
    .intro-heading {
      margin-bottom: 25px;
      text-transform: uppercase;
      font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
    }
  }
}

.navbar-default {
    min-height: 70px;
    border: none;
    box-shadow: 0 8px 6px -6px #C5C3C6;
}

.navbar-collapse {
  margin-left: auto;
  margin-right: auto;
}
.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 70px;
    &.active {
      color: #298bea;
    }
}

.navbar {
  .brand {
    max-height: 50px;
    overflow: visible;
    margin-top: -10px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .name {
    margin-top: 6px;
  }
}


@media (max-width: 767px) {
  .navbar-default {
    min-height: 50px;
  }
  .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navbar .brand {
    max-height: 40px;
  }
}
